@page "/MisClientes"
@using Clases
@using Repositorio
@inject IRepositorio Repositorio

@* <h2 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Mis Clientes</h2> *@

<div class="card">
    <div class="card-header bg-dark">
        <div class="row">
            <div class="col-sm-9">
                <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" class="text-info">Lista de clientes</h2>
            </div>
            <div class="col-sm-3">
                <a href="MisClientes/Crear" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" class="btn btn-primary">Crear nuevo cliente</a>
            </div>

        </div>
    </div>
    <div class="card-body">
        @* <table class="table table-striped border">
            <tr class="table-secondary">
                <th>ID Cliente</th>
                <th>Nombre y apellidos</th>
                <th>Correo</th>
                <th>NIF</th>
                <th>Teléfono</th>
            </tr>
            @foreach (var item in listaClientes)
            {
                <tr>
                    <td>@item.idCliente</td>
                    <td>@item.NombreYApellidos</td>
                    <td>@item.Correo</td>
                    <td>@item.NIF</td>
                    <td>@item.Telefono1</td>
                    <td>
                        <a href="MisClientes/Editar/@item.idCliente" class="btn btn-success btn-sm">Editar</a>
                        <a href="MisClientes/FichaCliente/@item.idCliente" class="btn btn-secondary btn-sm">Ficha</a>
                        <button @onclick="@( () =>BorrarCliente(item.idCliente))" class="btn btn-danger btn-sm">Borrar</button>
                    </td>
                </tr>    
            }
        </table> *@
        @if (listaClientes==null)
        {
            <label>Cargando...</label>
        }
        else
        {
            <RadzenDataGrid TItem="Clientes" Data=@listaClientesGrid AllowFiltering="true" @bind-Value=@clienteSeleccionado FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" PageSize="10" AllowSorting="true"
            ContainsText="Contiene" EqualsText="Igual a" ApplyFilterText="Aplicar" ClearFilterText="Limpiar"
            DoesNotContainText="No contiene" EndsWithText="Termina en" GreaterThanText="Mayor que" LessThanText="Menor que" NotEqualsText=" Distinto a"
            LessThanOrEqualsText=" Menor o igual a" GreaterThanOrEqualsText=" Mayor o igual a" IsNullText="es nulo" IsNotNullText="No es nulo"
            AndOperatorText="Y" OrOperatorText="O" StartsWithText="Empieza con" IsEmptyText="Es vacío" IsNotEmptyText="No es vacío">
                <Columns>
                    <RadzenDataGridColumn TItem="Clientes" TextAlign="TextAlign.Left" Title="ID Cliente" Property="idCliente">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Clientes" TextAlign="TextAlign.Left" Title="Nombre" Property="NombreYApellidos">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Clientes" TextAlign="TextAlign.Center" Title="Correo" Property="Correo">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Clientes" TextAlign="TextAlign.Center" Title="NIF" Property="NIF">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Clientes" TextAlign="TextAlign.Center" Title="Teléfono" Property="Telefono1">
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>

        }

    </div>
</div>



@code 
{
    private List<Clientes> listaClientes = new List<Clientes>();
    private Clientes[]? listaClientesGrid;
    private IList<Clientes> clienteSeleccionado;
    protected override async Task OnInitializedAsync()
    {
        listaClientes = await Repositorio.GetClientes();
        listaClientesGrid = listaClientes.ToArray();
        clienteSeleccionado = listaClientes.Take(1).ToList();
    }
    public void BorrarCliente(int clienteID)
    {
        
    }
}
